modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18175
externalPort = 3003

[[ports]]
localPort = 22358
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PUBLIC_WEBHOOK_DOMAIN = "sgindex.work"
INTERNAL_CRON_SECRET = "178d48ae6a0872c16c32ca637a87b042be9d885ce6b2b2e2dddbaf02eb744c22"
